
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#433d3d;
  line-height: 150%;
}

/*Style elements for top of page */
.grid-wrap {
 display: grid;
 grid-template-columns: 1fr 2fr;
 grid-auto-rows: minmax(100px, auto);
 margin-left: 2%;
 margin-right: 5%;
 gap: 2%;
}

/*
.grid-text {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color:#433d3d;
 line-height: 150%;
}
*/


h1 {
  font: size 200%;
  font-weight: lighter;
  color:#8b239a;
}
  
h2 {
  font-size:130%;
  color:#8b239a;
}
h3 {
  color:#433d3d;
}

fieldset {
  font-size: smaller;
  border: 0;
}


/*ul.ul-left-grid {
  list-style-type: square;
  overflow: hidden;
  background-color: white;
  color: #433d3d;
}
*/

/*li.li-left-grid {
  float: none;
}

li.li-left-grid a {
  display: block;
  font-size: small;
  text-align: left;
  padding: 10px 10px;
  text-decoration: none;
}
*/





/*Move the nav bar elements onto a different sheet */

/*.upper-border {
  color:#8b239a;
  background-color: white;
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 0px solid #8b239a;
  margin: 1%;
}
*/



/* Default styling */

tbody td {
  text-align: left;
}

ul {
  list-style-type: square;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}  

li a:hover {
  font-weight: bolder;
}

tfoot th {
  text-align: right;
}




/* Nav bar styling */

ul.nav-style {
  list-style-type: none;
  background-color: #8b239a;
  float: right;
  text-align: center;
  padding: 8px 40px;
  color: white;
}

li.nav-highlight-style a {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 8px 40px;
  color: white;
}

.big-logo-text {
  font-size: 210%;
  font-weight: bold;
  text-align: right;
  padding-right: 1%;
  padding-bottom: 1%;
}









